.obj/
.moc/
.ui/
*.o
*.obj
*.so
*.a
jukebox
Makefile
*.user
*.pro.user*
*~
*.swp
*.core
*.log
*.iso
*.deb
*.rpm
*.zip
*.rar
*.7z
*.tar
*.tar.gz
*.tar.bz2
defaults/
JukeBox.save
JukeBox.reg
JukeBox.counters
JukeBox.free
make_jb
sync.sh
sync.sh.back
jukebox.usage
Thumbs.db
.DS_Store
